.form-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 2%;
    padding: 4rem;
}

.form-card {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }
