<h1 class="title">Delicious Recipes!</h1>

<div class="search-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search recipe</mat-label>
    <input matInput [(ngModel)]="searchValue" (ngModelChange)="filterValue()" />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="redirectToAddRecipe()">
    Add Recipe
  </button>
</div>

<div class="card-grid">
  <!-- Primele 10 dummy recipes 
  @for (recipe of dummyRecipes.slice(0, 10); track $index) {
    <app-recipe-card [recipe]="recipe"></app-recipe-card>
  }-->

  <!-- Rețetele live din InstantDB -->
  @for (recipe of dbRecipes; track $index) { <!--Filtered recipes-->
    <app-recipe-card [recipe]="recipe"></app-recipe-card>
  }

  
</div>

<mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

<!-- Scroll to top -->
<button class="scroll-top-btn" (click)="scrollToTop()">
  ↑
</button>
